<div class="h-screen w-screen bg-[#FFCE32] flex">
  <div class="m-auto flex-col w-3/4 text-center">
    <h1 class="font-bold text-4xl text-[#1D63FF] text-center">
      TYPING CHALLENGE
    </h1>
    <app-clock (onTimerStop)="showWordsPerMinute($event)"></app-clock>
    <div class="font-bold text-xl my-4">
      {{ message }}
    </div>
    <div class="text-gray-700 text-lg" *ngIf="wordsPerMinute !== 0">
      <span class="font-semibold">{{ wordsPerMinute }}</span> words per minute!
    </div>
    <div
      class="p-4 font-bold m-4 text-center rounded-lg bg-white text-xl text-gray-400"
    >
      <span
        *ngFor="let ch of data.split(''); let i = index"
        [class]="getClass(ch, enteredData[i])"
        onselectstart="return false"
        >{{ ch }}</span
      >
    </div>
    <input
      class="bg-gray-200 p-4 rounded-lg w-[90%] focus:outline-none font-bold text-gray-500 text-xl"
      (input)="onChangeInput($event)"
      placeholder="Start typing..."
    />
    <div>
      <button
        class="p-4 rounded-lg bg-teal-500 my-2 cursor-pointer text-white hover:scale-105 duration-500"
        (click)="refresh()"
      >
        Restart
      </button>
    </div>
    <div class="text-center">
      Developed by
      <span
        ><a
          href="https://github.com/ayush-gupta2002"
          class="hover:underline text-blue-500"
        >
          ayush-gupta2002
        </a></span
      >
    </div>
  </div>
</div>
